name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore src/SantaTracker.Net.sln

      - name: Build
        run: dotnet build src/SantaTracker.Net.sln --no-restore

      - name: Test
        run: dotnet test src/SantaTracker.Net.sln --no-build --verbosity normal

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        if: github.ref == 'refs/heads/main'
        run: |
        uses: docker/build-push-action@v5
        with:
          context: src
          file: src/SantaTracker.Net.WebApi/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/santa-tracker-api:latest
            ghcr.io/${{ github.repository_owner }}/santa-tracker-api:${{ github.sha }}
